In [4]:
import mysql.connector

# Connection details
config = {
    'host': 'localhost',
    'port':3306,      
    'user': 'root',  
    'password': 'rd269TWIN#',  
    'database': 'dwbi'   
}

# Establish connection
try:
    connection = mysql.connector.connect(**config)
    if connection.is_connected():
        print("Successfully connected to MySQL!")
        
except mysql.connector.Error as e:
    print(f"Error connecting to MySQL: {e}")

Successfully connected to MySQL!

In [5]:
create_table_query = """
        CREATE TABLE students (
            id INT AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255) NOT NULL,
            age INT NOT NULL,
            gender ENUM('Male', 'Female', 'Other') NOT NULL,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
    """

cursor = connection.cursor()
cursor.execute(create_table_query)

In [7]:
insert_query = """
        INSERT INTO students (name, age, gender)
        VALUES
            ('John Doe', 20, 'Male'),
            ('Jane Smith', 22, 'Female'),
            ('Alex Johnson', 19, 'Other'),
            ('Emily Davis', 21, 'Female');
"""
cursor.execute(insert_query)
connection.commit()

In [9]:
import pandas as pd

In [10]:
select_query = """
    SELECT * FROM students
"""
df = pd.read_sql(select_query,connection)
df.head()

C:\Users\achar\AppData\Local\Temp\ipykernel_8036\3491497116.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(select_query,connection)

   id          name  age  gender          created_at
0   1      John Doe   20    Male 2024-12-21 21:21:27
1   2    Jane Smith   22  Female 2024-12-21 21:21:27
2   3  Alex Johnson   19   Other 2024-12-21 21:21:27
3   4   Emily Davis   21  Female 2024-12-21 21:21:27
4   5      John Doe   20    Male 2024-12-21 21:21:43

In [11]:
df.to_csv("select_result.csv")